<!-- Template for list of events 
    Once done and working, try improving by doing some sort of a base of
-->
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <!-- Title of the concerned event with -->
    <title>Events</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <header>
                <!-- Most likely the navbar, shall we do one specific for each "type" of thing on the site ? -->
                {{ partial "header.html" . }}
            </header>
        </div>
    </div>
    <div class="container-fluid">
        <main class="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>List of all our events </h1>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class="row">

                    <script>
                        // We recover the full url 
                        var url = window.location.href;
                        console.log("url : " + window.location.href);

                        // We recover the first index of var 
                        var varPosition = url.search("=");
                        console.log("= position: " + varPosition);

                        // We recover the position of '%'
                        var percentagePosition = url.search("%");
                        console.log("percentage position : " + percentagePosition);

                        // we recover the word we want 
                        var modifiedUrl = url.slice(varPosition + 1, percentagePosition);
                        console.log("final url : " + modifiedUrl);
                        document.getElementById('urlValue').innerHTML(modifiedUrl);
                    </script>

                    <p>la</p>
                    <p id="urlValue"></p>
                    <!-- Three cards per row, we'll improve with card deck if we got time -->
                    {{ range .Data.Pages }}
                    <!-- If data pages is of type events -->
                    {{ if eq .Type "events" }}

                    <!-- Recover the date of the day -->
                    {{ $currentDate := dateFormat "02 Jan 06" now }}
                    <!-- Recover the date of the concerned event -->
                    {{ $eventDate := dateFormat "02 Jan 06" .Params.When}}

                    <!-- IF the current date is supperior to the date of the event -->
                    {{ if gt $currentDate $eventDate }}
                    <!-- Display the archvied events -->

                    <!-- ELSE IF current date inferior to date of the event -->
                    {{ else if gt $eventDate $currentDate }}
                    <!-- Display the upcoming event -->
                    Upcoming event
                    <!-- end if gt  -->
                    {{ end }}
                    <!-- End of UPCOMING events -->

                    <!-- Display ALL events -->
                    <div class="col-md-4">
                        {{ partial "eventCard.html" . }}
                    </div>
                    <!-- End of display all events -->
                    <!-- endif-->
                    {{ end }}
                    <!-- endrange -->
                    {{ end }}
                </div>
            </div>
        </main>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>

</html>