<!-- Template for list of events 
    Once done and working, try improving by doing some sort of a base of
-->
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" }}
    <!-- Title of the concerned event with -->
    <title>Events</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <header>
                <!-- Most likely the navbar, shall we do one specific for each "type" of thing on the site ? -->
                {{ partial "header.html" . }}
            </header>
        </div>
    </div>
    <div class="container-fluid">
        <main class="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>List of all our events </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Three cards per row, we'll improve with card deck if we got time -->
                {{ range .Data.Pages }} {{ if eq .Type "events" }}
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img img-thumbnail img-fluid" alt="events picture">
                        <div class="card-body">
                            <!-- This will be the title of our event -->
                            <h2 class="card-title">{{ .Params.Title }}</h2>
                            <p>{{ .Params.Description }}</p>
                            <hr>
                            <p class="lead">By : {{ .Params.Association }}</p>
                            <p class="lead">At : {{ range .Params.Adresse }} {{ $address := print .address " " .postalCode " " .city " " .label }} {{ $address | safeHTML }} {{ end }}</p>
                        </div>
                        <div class="card-footer">
                            {{ $date := .Params.Date.Format "2006-01-02" }} {{ $date }}
                        </div>
                    </div>
                </div>
                {{ end }} {{ end }}
            </div>

        </main>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ partial "footer.html" }}
        </div>
    </div>
</body>

</html>