<!-- Template for single events -->
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" }}
    <!-- Here we'll place the event title -->
    <title>title to change</title>
</head>

<body>
    <div class="container-fluid">
        <!-- NAVBAR -->
        <div class="row">
            <div class="col-md-12">
                {{ partial "header.html" }}
            </div>
        </div>

        <!-- MAIN -->
        <main class="main">
            <div class="row">
                <div class="col-md-12">
                    <p>some content about the article</p>
                </div>
            </div>
        </main>

        <!-- FOOTER-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {{ partial "footer.html" }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>