<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>

<body>
    <!--  
    adresse of town hall 

    google maps plan > do that with shortcode 

    build a form with following fields :
        Sender email field
        Subject text field 
        Message text area

-->

    <div class="container-fluid">
        <div class="main">
            <div class="row">
                <div class="col-md-12">
                    Some title here with the number somewhere
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Short code for gg maps here
                </div>
                <div class="col-md-6">
                    Contact form here
                    <form action="" class="form">
                        <label for=""></label>
                        <input type="text">
                        <label for=""></label>
                        <input type="text">
                        <label for=""></label>
                        <input type="text">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>