<!-- MUNICIPAL COUNCIL -->
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" }}
    <!-- Title of the concerned event with -->
    <title>Title to change municipal</title>
</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <header>
                {{ partial "header.html" . }}
            </header>
        </div>
    </div>
    <div class="container-fluid">
        <main class="main mb-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="text-center">List of all the members of municipal council </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range .Data.Pages }} {{ if eq .Type "municipalCouncil" }}
                <!-- Three cards per row, we'll improve with card deck if we got time -->
                <div class="col-md-4">
                    <div class="card">
                        <!-- Photo of the council member-->
                        <img src="{{ .Params.Photo }}" class="card-img-top" alt="placehodler image for dev">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="{{ .Permalink | absURL }}">
                                {{ $nameUpper := .Params.LastName | upper }} <!--   Turn it into upper -->
                                {{ $fullName := print .Params.FirstName " " $nameUpper  }} <!-- Tie both together -->
                                {{ $fullName }} 
                            </a>
                            </h2>
                            <p>Role here </p>
                        </div>
                    </div>
                </div>
                {{ end }} {{ end }}
            </div>
        </main>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ partial "footer.html" }}
        </div>
    </div>
</body>

</html>