<footer class="page-footer font-small blue pt-4 mt-5">
    <div class="container-fluid text-center text-white text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/contact"> contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- AJAX API -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    {{ $js := "js/bootstrap.min.js" | absURL }}
    <link rel="stylesheet" href="{{ $js }}">
    <!-- MDBOOTSTRAP JS -->
    {{ $mdbjs := "mdb/js/mdb.min.js" | absURL }}
    <link rel="stylesheet" href="{{ $mdbjs }}">

    <!-- THE MDB SCRIPT FOR THE SIDE NAV -->
    <script>
        // SideNav Button Initialization
        $(".button-collapse").sideNav();
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        var ps = new PerfectScrollbar(sideNavScrollbar);
    </script>
    <!-- END OF SIDE NAV SCRIPT -->

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/59cb36667e.js" crossorigin="anonymous"></script>
</footer>